<!DOCTYPE html>
<html lang="en">
<head>
    {{>metadata}}
    <title>404 Page Error</title>
    <link rel="icon" type="image/x-icon" href="../public/Images/favicon.png">
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="err">
                            <img src="../public/Images/404.png" alt="photo" class="img-fluid" title="author">
                        </figure>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- navbar -->
    {{>footer}}
</body>
</html>